/* font family start */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* font family end */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: black;
    background-image: url(../img/wrapper/wrapper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.wrap {
    max-width: 766px;
    margin: 0 auto;
    background: rgba(67, 67, 67, 0.2);
    backdrop-filter: blur(20px);
}

/* header start */

.header {
    padding-top: 40px;
    padding-bottom: 20px;
}

.header-container {
    max-width: 686px;
    margin: 0 auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 686px;
}

.header-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

.header-logo {
    display: flex;
    object-fit: cover;
}

.header-title {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 363px;
}

.header-text {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
    color: #CECECE;
}

@media(max-width:463px) {

    .header-title {
        font-size: 18px;
        line-height: 22.4px;
    }

    .header-text {
        font-size: 16px;
        line-height: 19.6px;
    }
}

@media(max-width:375px) {
    .wrapper {
        padding: 0;
    }

    .wrap {
        padding: 0px 20px;
    }

    .header-row {
        margin-bottom: 10px;
        align-items: center;
    }

    .header-title {
        font-size: 16px;
        line-height: 22.4px;
        max-width: 242px;
    }

    .header-text {
        font-size: 14px;
        line-height: 19.6px;
        max-width: 335px;
    }
}

/* header end */

/* personal start */

.personal {
    padding-top: 20px;
    padding-bottom: 20px;
}

.personal-title {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.personal-from {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
    margin-bottom: 30px;
}

.personal-from-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.personal-from-col-text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;
}

.personal-from-col-input {
    background: #84848433;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
    height: 51px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #EBEBEB;
    max-width: 333px;
}

.personal-from-col-input1 {
    background: #84848433;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    border: none;
    padding-top: 13px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 15px;
    height: 51px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    max-width: 100%;
    color: #EBEBEB;
    text-wrap: wrap;
}

.personal-from-col-input1::placeholder {
    color: #EBEBEB;
}

.personal-from-col-input::placeholder,
#sana {
    color: #EBEBEB;
}

input[type="date"] {
    color: #EBEBEB;
    background-color: #84848433;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    cursor: pointer;
}

.personal-from-col-active {
    max-width: 868px;
}

@media(max-width:640px) {
    .personal-title {
        font-size: 20px;
        line-height: 19.36px;
    }

    .personal-from {
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 30px;
    }

    .personal-from-col-input.active {
        height: auto;
        padding-bottom: 38px;
    }

    .personal-from-col-input {
        padding-right: 0px;
        width: 100%;
        max-width: 100%;
        height: 40px;
    }

    .personal-from-col-input::placeholder,
    #sana {
        font-size: 18px;
        line-height: 16.94px;
        text-wrap: wrap;
    }

    .personal-from-col-input1 {
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        height: 41px;
        font-size: 20px;
        line-height: 28px;
        width: 100%;
        text-wrap: wrap;
    }

    .personal-from-col-input1::placeholder {
        text-wrap: wrap;
    }

}

@media(max-width:375px) {
    .personal-from-col {
        max-width: 335px;
    }

    #sana {
        max-width: 154px;
    }

    .personal-from-col-input::placeholder,
    #sana {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    .personal-from-col-input1 {
        font-size: 14px;
        height: 50px;
        font-weight: 400;
        line-height: 18px;
        padding-top: 5px;
        padding-bottom: 20px;
    }

    .personal-from-col-input1::placeholder {
        text-wrap: wrap;
    }
}

/* personal end */


/* work start */

.work {
    padding-top: 20px;
    padding-bottom: 20px;
}

.work-title {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.work-from {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.work-from-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work-from-col-text {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;
}

#yil {
    max-width: 227px;
    width: 100%;
}

#texnolog {
    max-width: 100%;
    width: 444px;
}

.work-from-col-input {
    border-radius: 8px;
    border: none;
    background: #88888833;
    backdrop-filter: blur(20px);
    height: 51px;
    padding-left: 15px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #EBEBEB;
    align-items: center;
}

.work-from-col-input::placeholder {
    color: #EBEBEB;
}

@media(max-width:710px) {
    .work-from {
        flex-direction: column;
        gap: 30px;
    }

    #yil,
    #texnolog {
        width: 100%;
    }
}

@media(max-width:375px) {
    .work-from {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .work-from-col-text {
        font-size: 16px;
        line-height: 19.36px;
        margin-bottom: 10px;
    }

    .work-from-col {
        gap: 5px;
    }

    .work-from-col-input{
        height: 40px;
        padding-top: -5px;
    }

    .work-from-col-input::placeholder {
        font-size: 14px;
        line-height: 16.94px;
    }

    #yil {
        width: 160px;
    }
}

/* work end */

/* skills start */

.skills {
    padding-top: 20px;
    padding-bottom: 4px;
}

.skills-title {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.skills-text {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: center;
    color: #D2D2D2;
    margin-bottom: 30px;
}

.skills-row {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.skills-col {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.skills-input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 3px;
    position: relative;
    transition: background 0.3s ease;
}

.skills-input[type="checkbox"]:checked {
    background: white;
}

.skills-input[type="checkbox"]:checked::after {
    content: "✓";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.skills-col-text {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #EBEBEB;
}

@media(max-width:705px) {
    .skills-title {
        font-size: 20px;
        line-height: 19.36px;
    }

    .skills-text {
        font-size: 18px;
        line-height: 16.94px;
        margin-bottom: 20px;
    }

    .skills-row {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:375px) {
    .skills-title {
        font-size: 16px;
        line-height: 19.36px;
    }

    .skills-text {
        font-size: 14px;
        line-height: 16.94px;
        margin-bottom: 20px;
    }

    .skills-row {
        grid-template-columns: 1fr;
        gap: 16.5px;
    }

    .skills-col {
        max-width: 305px;
        gap: 10px;
        align-items: center;
    }

    .skills-input[type="checkbox"] {
        width: 15px;
        height: 15px;
    }

    .skills-col-text {
        font-size: 14px;
        line-height: 16.94px;
    }
}

/* skills end */

/*  financial start*/

.financial {
    padding-top: 20px;
    padding-bottom: 20px;
}

.financial-title {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.financial-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.financial-col-text {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
}

.financial-col {
    background: #88888833;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    max-width: 385px;
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

.financial-input {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #EBEBEB;
    background: none;
    border: none;
}

.financial-input::placeholder {
    color: #EBEBEB;
}

.financial-col-title {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #EBEBEB;
}

@media(max-width:710px) {
    .financial-row {
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:380px) {
    .financial-title {
        font-size: 16px;
        line-height: 19.36px;
        margin-bottom: 20px;
    }

    .financial-row {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .financial-col-text {
        font-size: 14px;
        line-height: 19.36px;
    }

    .financial-col {
        max-width: 450px;
        height: 40px;
    }

    .financial-input {
        font-size: 14px;
        line-height: 19.6px;
        max-width: 200px;
    }

    .financial-col-title {
        font-size: 14px;
        line-height: 19.6px;
    }
}

/* financial end */

/* contact start */
.contact {
    padding-top: 20px;
}

.contact-title {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.contact-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.contact-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-text {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
}

.contact-input {
    height: 51px;
    max-width: 335px;
    padding-left: 15px;
    background: #88888833;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #EBEBEB;
}

.contact-input::placeholder {
    color: #EBEBEB;
}

.contact-col-box {
    background: #88888833;
    backdrop-filter: blur(20px);
    display: flex;
    padding-right: 16px;
    justify-content: space-between;
    max-width: 335px;
    border-radius: 8px;
    align-items: center;
    height: 51px;
}

.contact-input1 {
    height: 51px;
    padding-left: 15px;
    background: none;
    border-radius: 8px;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #EBEBEB;
    width: 180px;
}

.contact-input1::placeholder {
    color: #EBEBEB;
}

.contact-col-box-icon {
    display: flex;
}

@media(max-width:710px) {
    .contact-row {
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        max-width: 335px;
    }

    .contact-col-box {
        height: 50px;
    }
}

@media(max-width:375px) {
    .contact-title {
        font-size: 16px;
        line-height: 19.36px;
        margin-bottom: 20px;
    }

    .contact-text {
        font-size: 14px;
        line-height: 19.36px;
    }

    .contact-input {
        font-size: 14px;
        line-height: 16.94px;
        height: 40px;
        max-width: 335px;
    }

    .contact-col-box {
        height: 40px;
    }

    .contact-input1 {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
    }
}

/* contact end */

/* additional start */

.additiional {
    padding-top: 20px;
    padding-bottom: 30px;
}

.additiional-title {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.additiional-text {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #D2D2D2;
    margin-bottom: 30px;
}

.additiional-area {
    background: #88888833;
    backdrop-filter: blur(20px);
    border: 1px solid #2D2D2D;
    max-width: 686px;
    width: 100%;
    height: 264px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #EBEBEB;
    text-align: left;
    text-wrap: wrap;
    overflow: auto;
    border-radius: 8px;
    margin-bottom: 30px;
    overflow: hidden;
}

.additiional-area::placeholder {
    color: #EBEBEB;
}

.additiional-btn {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}

@media(max-width:375px) {
    .additiional-title {
        font-size: 14px;
        line-height: 19.36px;
    }

    .additiional-text {
        font-size: 14px;
        line-height: 16.94px;
        margin-bottom: 20px;
    }
}

/* contact end */


/* modal start */

.modal {
    background-image: url(../img/modal/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: none;
}

.modalActive{
    left: 0;
}

.modal-container {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #88888826;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 50px 0px;
    margin-top: 80px;
}

.modal-logo {
    display: flex;
    width: 82px;
    height: 60px;
    margin-bottom: 30px;
}

.modal-title {
    font-family: Manrope, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.32px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.modal-text {
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
    color: #BABABA;
    margin-bottom: 20px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 400px;
    width: 100%;
}

.modal-form-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-col-text {
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
}

.modal-col-input {
    border-radius: 4px;
    border: none;
    background: #88888833;
    backdrop-filter: blur(20px);
    height: 50px;
    width: 100%;
}

.modal-form-btn {
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    max-width: 400px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    color: #0F0F0F;
}



.modal-box {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding: 50px 0px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #88888826;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    margin-top: 12%;
}

.modal-box-icon {
    width: 60px;
    height: 60px;
    display: flex;
    margin-bottom: 30px;
}

.modal-box-title {
    font-family: Manrope, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.32px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.modal-box-text {
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #BABABA;
    margin-bottom: 30px;
}

.modal-box-link {
    background: #FFFFFF;
    border-radius: 8px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #0F0F0F;
    padding: 12px 30px;
    text-decoration: none;
}

/* modal end */